@font-face {
  font-family: "TeXGyreAdventor";
  src: url("../fonts/TeXGyreAdventor-Regular.eot");
  src: local("../fonts/TeXGyreAdventor-Regular"), local("../fonts/TeXGyreAdventor-Regular"),
    url("../fonts/TeXGyreAdventor-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TeXGyreAdventor-Regular.woff") format("woff"),
    url("../fonts/TeXGyreAdventor-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TeXGyreAdventorBold";
  src: url("../fonts/TeXGyreAdventor-Bold.eot");
  src: local("../fonts/TeXGyreAdventor-Bold"), local("../fonts/TeXGyreAdventor-Bold"),
    url("../fonts/TeXGyreAdventor-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TeXGyreAdventor-Bold.woff") format("woff"),
    url("../fonts/TeXGyreAdventor-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
